<div class="clientForm">
  <h2>Agregar Cliente</h2>
  <label for="dropdownBasic1">Asignar Empleado</label>
  <div ngbDropdown class="d-inline-block dropdownButton">
    <button type="button" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>{{userName}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button type="button" class="dropdown-item" *ngFor="let user of users.items" (click)="userInfo(user.name, user.websafeKey)">
        {{user.name}}</button>
    </div>
  </div>
  <form class="form-horizontal" [formGroup]="clientForm" (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">
    <div class="form-group">
      <label for="name">Nombre del cliente</label>
      <input type="text" id="name" class="form-control" formControlName="name">
      <div *ngIf="clientForm.controls['name'].invalid && clientForm.controls['name'].touched" class="text-danger">
        Falta nombre del cliente
      </div>
    </div>
    <div class="form-group">
      <label for="address">Direccion</label>
      <input type="text" id="address" class="form-control" formControlName="address">
      <div *ngIf="clientForm.controls['address'].invalid && clientForm.controls['address'].touched" class="text-danger">
        Falta direccion
      </div>
    </div>
    <div class="form-group">
      <label for="numberExt">Numero Exterior</label>
      <input type="number" id="numberExt" class="form-control" formControlName="numberExt">
      <div *ngIf="clientForm.controls['numberExt'].invalid && clientForm.controls['numberExt'].touched" class="text-danger">
        Falta numero exterior
      </div>
    </div>
    <div class="form-group">
      <label for="number">Numero Interior</label>
      <input type="number" id="number" class="form-control" formControlName="number" placeholder="Opcional">
    </div>
    <div class="form-group">
      <label for="suburb">Colonia</label>
      <input type="text" id="suburb" class="form-control" formControlName="suburb">
      <div *ngIf="clientForm.controls['suburb'].invalid && clientForm.controls['suburb'].touched" class="text-danger">
        Falta colonia
      </div>
    </div>
    <div class="form-group">
      <label for="locality">Delegacion</label>
      <input type="text" id="locality" class="form-control" formControlName="locality" placeholder="Opcional">
    </div>
    <div class="form-group">
      <label for="state">Estado</label>
      <input type="text" id="state" class="form-control" formControlName="state">
      <div *ngIf="clientForm.controls['state'].invalid && clientForm.controls['state'].touched" class="text-danger">
        Falta estado
      </div>
    </div>
    <div class="form-group">
      <label for="city">Ciudad</label>
      <input type="text" id="city" class="form-control" formControlName="city">
      <div *ngIf="clientForm.controls['city'].invalid && clientForm.controls['city'].touched" class="text-danger">
        Falta ciudad
      </div>
    </div>
    <div class="form-group">
      <label for="zipCode">Codigo Postal</label>
      <input type="number" id="zipCode" class="form-control" formControlName="zipCode">
      <div *ngIf="clientForm.controls['zipCode'].invalid && clientForm.controls['zipCode'].touched" class="text-danger">
        Falta codigo postal
      </div>
      <div *ngIf="clientForm.controls['zipCode'].hasError('max') && clientForm.controls['zipCode'].touched" class="text-danger">
        Maximo de 5 caracteres
      </div>
    </div>
    <div class="form-group">
      <label for="rfc">RFC</label>
      <input type="text" id="rfc" class="form-control" formControlName="rfc">
      <div *ngIf="clientForm.controls['rfc'].invalid && clientForm.controls['rfc'].touched" class="text-danger">
        Falta rfc
      </div>
    </div>
    <div class="form-group">
      <label for="email">Correo Electronico</label>
      <input type="email" id="email" class="form-control" formControlName="email" [email]="true">
      <div *ngIf="clientForm.controls['email'].invalid && clientForm.controls['email'].touched" class="text-danger">
        Falta correo electronico
      </div>
    </div>
    <div class="form-group">
      <label for="phoneNumber">Numero de Telefono</label>
      <input type="number" id="phoneNumber" class="form-control" formControlName="phoneNumber">
      <div *ngIf="clientForm.controls['phoneNumber'].invalid && clientForm.controls['phoneNumber'].touched" class="text-danger">
        Falta numero de telefono
      </div>
    </div>
    <div class="form-group">
      <label for="contact">Nombre de Contacto</label>
      <input type="text" id="contact" class="form-control" formControlName="contact">
      <div *ngIf="clientForm.controls['contact'].invalid && clientForm.controls['contact'].touched" class="text-danger">
        Falta nombre de contacto
      </div>
    </div>
    <div class="form-group">
      <ngb-alert *ngIf="errMessage" type="warning" (close)="errMessage = null">{{errMessage}}</ngb-alert>
      <div class="text-right actionButtons">
        <button class="btn btn-danger" (click)="cancel()">Cancel</button>
        <button type="submit" [disabled]="!clientForm.valid" class="btn btn-success">Guardar</button>
      </div>
    </div>
  </form>
</div>
