<div class="employeeForm">
  <h2>Editar Empleado</h2>
  <form class="form-horizontal" [formGroup]="employeeForm" (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">
    <div class="btn-group btn-group-toggle form-group" ngbRadioGroup name="radioBasic" formControlName="role">
      <label ngbButtonLabel class="btn btn-outline-info">
        <input ngbButton type="radio" value="Director"> Director
      </label>
      <label ngbButtonLabel class="btn btn-outline-info">
        <input ngbButton type="radio" value="Supervisor"> Supervisor
      </label>
      <label ngbButtonLabel class="btn btn-outline-info">
        <input ngbButton type="radio" value="Tecnico"> Tecnico
      </label>
      <label ngbButtonLabel class="btn btn-outline-info">
        <input ngbButton type="radio" value="Cliente"> Cliente
      </label>
    </div>
    <div class="row">
    </div>
    <label for="dropdownBasic1">Encargado</label>
    <div ngbDropdown class="d-inline-block dropdownButton">
      <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{userName}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button type="button" class="dropdown-item" *ngFor="let user of users.items" (click)="userInfo(user.name, user.websafeKey)">
          {{user.name}}</button>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" id="name" class="form-control" formControlName="name" placeholder="Nombre completo">
      <div *ngIf="employeeForm.controls['name'].invalid && employeeForm.controls['name'].touched" class="text-danger">
        Falta nombre
      </div>
    </div>
    <div class="form-group">
      <label for="name">Correo Electronico</label>
      <input type="email" id="email" class="form-control" formControlName="email" [email]="true">
      <div *ngIf="employeeForm.controls['email'].invalid && employeeForm.controls['email'].touched" class="text-danger">
        Formato de correo no valido
      </div>
    </div>
    <div class="form-group">
      <label for="name">ID de Usuario</label>
      <input type="text" id="userName" class="form-control" formControlName="userName" placeholder="Ej. nombre_apellido">
      <div *ngIf="employeeForm.controls['userName'].invalid && employeeForm.controls['userName'].touched" class="text-danger">
        Falta ID de usuario
      </div>
    </div>
    <div class="form-group">
      <label for="name">Contraseña</label>
      <input type="text" id="password" class="form-control" formControlName="password">
      <div *ngIf="employeeForm.controls['password'].invalid && employeeForm.controls['password'].touched" class="text-danger">
        Falta contraseña
      </div>
    </div>
    <div class="form-group">
      <label for="name">Confirmar Contraseña</label>
      <input type="text" id="confirmPassword" class="form-control" formControlName="confirmPassword">
      <div *ngIf="employeeForm.controls['confirmPassword'].invalid && employeeForm.controls['confirmPassword'].touched" class="text-danger">
        Falta confirmar contraseña
      </div>
    </div>
    <label>Foto de perfil</label>
    <div style="text-align: center">
        <img [src]="'data:image/jpg;base64,'+imagePath"/>
    </div>
    <input type="file" (change)="onImageChange($event)" accept="image/*">
    <div class="form-group">
      <ngb-alert *ngIf="errMessage" type="warning" (close)="errMessage = null">{{errMessage}}</ngb-alert>
      <div class="text-right actionButtons">
        <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
        <button type="submit" [disabled]="!employeeForm.valid" class="btn btn-success">Guardar</button>
      </div>
    </div>
  </form>
</div>
