<div class="addButton">
  <a (click)="add()">
    <button type="button" class="btn btn btn-primary">Añadir</button>
  </a>
</div>
<h2>Empleados</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>ID de Usuario</th>
        <th>Rol</th>
        <th>Encargado</th>
        <th>Editar</th>
        <th>Borrar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users, let i = index">
        <td>{{user.name}}</td>
        <td>{{user.email.email}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.role}}</td>
        <td>{{user.assignedTo.name}}</td>
        <td>
          <a (click)="editUser(i)">
            <i class="material-icons">create</i>
          </a>
        </td>
        <td>
          <a (click)="open(deleteModal, i)">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="isNextPage == 19">
  <button type="button" class="btn btn-secondary" (click)="moreUsers()">Más</button>
</div>
<!--Modal to delete the user -->
<ng-template #deleteModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Borrar Usuario {{userName}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <p>El estado del usuario pasara a inactivo y ya no se mostrara en pantalla.
      <br> Si desea eliminarlo del sistema active la casilla de
      <b>borrar por completo</b>.</p>
    <p>Nota: Una vez borrado la informacion no podra recuperarse.</p>
    <div class="form-check">
      <input class="form-check-input" [(ngModel)]="delete" type="checkbox" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        Borrar por completo
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="deleteUser()">Aceptar</button>
  </div>
</ng-template>
