.addButton{
  position: relative;
  margin-left: 90%;
}

.usersContent{
margin-top: 2%;
font-size: .8em;

}

.material-icons{
  cursor: pointer;
}

h2{
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.form-check{
  margin-left: 1rem;
}
