
h2 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight:bold;
  font-size: 1.5em;
  text-align: center;
}


.addButton{
  margin-right: 1rem;
}

.saveButton{
  margin-right: 1rem;
}

.servDate{
  margin-left: 10%;
  margin-top: -2%;
}


.dateClient{
  margin-left: 28%;
  margin-bottom: 1.5rem;
}

.btn-danger{
  margin-right: 1rem;
}

.material-icons{
  cursor: pointer;
}

.modal-title{
  font-weight: bold;
}

.more{
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.dateOrders{
margin-bottom: 1rem;
}

.date{
  margin-left: 1rem;
}

.rupLabel{
  margin-left: 4.5rem;
}

.daysGroup{
  margin-bottom: 1rem;
}

.labelD{
  margin-left: 6rem;
  margin-top: .3rem;
  margin-right: .2rem;
}


.form-check{
  margin-top: 1rem;
}

.footerButtons{
  margin-top: 2rem;
}
