<div *ngIf="role">
  <div class="row justify-content-end">
    <div class="addButton" *ngIf="item === 'Cilindro'">
      <a>
        <button type="button" class="btn btn-info" (click)="addCylinder(cylinderModal,item)">Añadir {{item}}</button>
      </a>
    </div>
    <div class="addButton" *ngIf="item === 'Viga'">
      <a>
        <button type="button" class="btn btn-info" (click)="addBeam(beamModal,item)">Añadir {{item}}</button>
      </a>
    </div>
    <div class="addButton" *ngIf="item === 'Cubo'">
      <a>
        <button type="button" class="btn btn-info" (click)="addCube(cubeModal,item)">Añadir {{item}}</button>
      </a>
    </div>
    <div class="saveButton">
      <a>
        <button type="button" [disabled]="!websafeKey || !usersafeKey" class="btn btn-success" (click)="saveOrder()">Guardar</button>
      </a>
    </div>
    <div class="cancelButton">
      <a>
        <button type="button" class="btn btn-danger" (click)="cancelOrder()">Cancelar</button>
      </a>
    </div>
    <!--
    <div class="testButton">
      <a>
        <button type="button" class="btn btn-success" (click)="testOrder()">Test</button>
      </a>
    </div>
  -->
  </div>
  <h2>Nueva Orden de Servicio</h2>
  <div *ngIf="role === 'Tecnico'">
    <div class="row dateClient">
      <div ngbDropdown class="d-inline-block dropdownButton">
        <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>{{structureName}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" *ngFor="let structure of structures.items" (click)="structureInfo(structure.name, structure.websafeKey)">
            {{structure.name}}</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="role === 'Admin' || role === 'Director' || role === 'Supervisor'">
    <div class="row dateClient">
      <div ngbDropdown class="d-inline-block dropdownButton">
        <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>{{structureName}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" *ngFor="let structure of structures.items" (click)="structureInfo(structure.name, structure.websafeKey)">
            {{structure.name}}</button>
        </div>
      </div>
      <label for="dropdownBasic1" class="labelD">Asignar Tecnico</label>
      <div ngbDropdown class="d-inline-block dropdownButtonEmployee">
        <button type="button" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>{{userName}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button type="button" class="dropdown-item" *ngFor="let user of users.items" (click)="userInfo(user.name, user.websafeKey)">
            {{user.name}}</button>
        </div>
      </div>
    </div>
  </div>
  <!-- This is the tabs HTML code -->
  <ngb-tabset [justify]="currentJustify" (tabChange)="tabName($event)">
    <ngb-tab id="cylinders" title="Cilindros" [disabled]="cylinderTab">
      <ng-template ngbTabContent>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Cilindro</th>
                <th>Colado</th>
                <th>Ruptura</th>
                <th>Dias</th>
                <th>Editar</th>
                <th>Borrar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cylinderT of cylinderTable, let i = index">
                <td>
                  <a class="more" (click)="moreCylinder(seeMoreCylinder, i)">
                    Ver mas
                  </a>
                </td>
                <td>Cilindro {{i + 1}}</td>
                <td>{{cylinderT.colado}}</td>
                <td>{{cylinderT.ruptura}}</td>
                <td>{{cylinderT.edad}}</td>
                <td>
                  <a (click)="editCylinder(editCylinderContent, i)">
                    <i class="material-icons">create</i>
                  </a>
                </td>
                <td>
                  <a (click)="deleteCylinder(i)">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="beams" title="Vigas" [disabled]="beamTab">
      <ng-template ngbTabContent>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Viga</th>
                <th>Colado</th>
                <th>Ruptura</th>
                <th>Dias</th>
                <th>Editar</th>
                <th>Borrar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let beamT of beamTable, let c = index">
                <td>
                  <a class="more" (click)="moreBeam(seeMoreBeam, c)">
                    Ver mas
                  </a>
                </td>
                <td>Viga {{c + 1}}</td>
                <td>{{beamT.colado}}</td>
                <td>{{beamT.ruptura}}</td>
                <td>{{beamT.edad}}</td>
                <td>
                  <a (click)="editBeam(editBeamContent, c)">
                    <i class="material-icons">create</i>
                  </a>
                </td>
                <td>
                  <a (click)="deleteBeam(c)">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="cubes" title="Cubos" [disabled]="cubeTab">
      <ng-template ngbTabContent>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Cubo</th>
                <th>Colado</th>
                <th>Ruptura</th>
                <th>Dias</th>
                <th>Editar</th>
                <th>Borrar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cubeT of cubeTable, let d = index">
                <td>
                  <a class="more" (click)="moreCube(seeMoreCube, d)">
                    Ver mas
                  </a>
                </td>
                <td>Cubo {{d + 1}}</td>
                <td>{{cubeT.colado}}</td>
                <td>{{cubeT.ruptura}}</td>
                <td>{{cubeT.edad}}</td>
                <td>
                  <a (click)="editCube(editCubeContent, d)">
                    <i class="material-icons">create</i>
                  </a>
                </td>
                <td>
                  <a (click)="deleteCube(d)">
                    <i class="material-icons">delete</i>
                  </a>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <!--This is the cylinder modal  -->
  <ng-template #cylinderModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">{{item}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-inline dateOrders">
        <label for="colado">Colado</label>
        <div class="form-group date">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dpCylinderCol" [(ngModel)]="cylinderColModel" ngbDatepicker #cylinderCol="ngbDatepicker">
            <button class="input-group-addon" (click)="cylinderCol.toggle()" type="button">
              <i class="material-icons">insert_invitation</i>
            </button>
          </div>
        </div>
      </form>
      <form class="form-horizontal" [formGroup]="cylinderForm" (ngSubmit)="saveCylinder()">
        <div class="form-group">
          <label for="rev">Rev</label>
          <input type="number" id="rev" class="form-control" formControlName="rev">
          <div *ngIf="(cylinderForm.controls['rev'].invalid && cylinderForm.controls['rev'].touched)" class="text-danger">
            Falta rev
          </div>
        </div>
        <div class="form-group">
          <label for="resistenciaProy">Resistencia Proyecto</label>
          <input type="number" id="resistenciaProy" class="form-control" formControlName="resistenciaProy">
          <div *ngIf="(cylinderForm.controls['resistenciaProy'].invalid && cylinderForm.controls['resistenciaProy'].touched)" class=" text-danger">
            Falta resistencia proyecto
          </div>
        </div>
        <div class="form-group">
          <label for="ubicacion">Ubicacion</label>
          <input type="text" id="ubicacion" class="form-control" formControlName="ubicacion">
          <div *ngIf="(cylinderForm.controls['ubicacion'].invalid && cylinderForm.controls['ubicacion'].touched)" class=" text-danger">
            Falta ubicacion
          </div>
        </div>
        <div class="form-group">
          <ngb-alert *ngIf="errMessage" type="warning" (close)="errMessage = null">{{errMessage}}</ngb-alert>
          <div class="text-right footerButtons">
            <button class="btn btn-danger" type="button" (click)="c('Cross click')">Cancel</button>
            <button type="submit" [disabled]="!cylinderForm.valid" class="btn btn-success">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  <!--This is the beam modal  -->
  <ng-template #beamModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">{{item}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-inline dateOrders">
        <label for="colado">Colado</label>
        <div class="form-group date">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dpBeamCol" [(ngModel)]="beamColModel" ngbDatepicker #beamCol="ngbDatepicker">
            <button class="input-group-addon" (click)="beamCol.toggle()" type="button">
              <i class="material-icons">insert_invitation</i>
            </button>
          </div>
        </div>
      </form>
      <form class="form-horizontal" [formGroup]="beamForm" (ngSubmit)="saveBeam()">
        <div class="form-group">
          <label for="rev">Rev</label>
          <input type="number" id="rev" class="form-control" formControlName="rev">
          <div *ngIf="(beamForm.controls['rev'].invalid && beamForm.controls['rev'].touched)" class=" text-danger">
            Falta rev
          </div>
        </div>
        <div class="form-group">
          <label for="mrProy">MR Proyecto</label>
          <input type="number" id="mrProy" class="form-control" formControlName="mrProy">
          <div *ngIf="(beamForm.controls['mrProy'].invalid && beamForm.controls['mrProy'].touched)" class=" text-danger">
            Falta MR proyecto
          </div>
        </div>
        <div class="form-group">
          <label for="ubicacion">Ubicacion</label>
          <input type="text" id="ubicacion" class="form-control" formControlName="ubicacion">
          <div *ngIf="(beamForm.controls['ubicacion'].invalid && beamForm.controls['ubicacion'].touched)" class=" text-danger">
            Falta ubicacion
          </div>
        </div>
        <div class="form-group">
          <ngb-alert *ngIf="errMessage" type="warning" (close)="errMessage = null">{{errMessage}}</ngb-alert>
          <div class="text-right footerButtons">
            <button class="btn btn-danger" (click)="c('Cross click')">Cancel</button>
            <button type="submit" [disabled]="!beamForm.valid" class="btn btn-success">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  <!--This is the cube modal  -->
  <ng-template #cubeModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">{{item}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-inline dateOrders">
        <label for="colado">Colado</label>
        <div class="form-group date">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dpCubeCol" [(ngModel)]="cubeColModel" ngbDatepicker #cubeCol="ngbDatepicker">
            <button class="input-group-addon" (click)="cubeCol.toggle()" type="button">
              <i class="material-icons">insert_invitation</i>
            </button>
          </div>
        </div>
      </form>
      <form class="form-horizontal" [formGroup]="cubeForm" (ngSubmit)="saveCube()">
        <div class="form-group">
          <label for="rev">Rev</label>
          <input type="number" id="rev" class="form-control" formControlName="rev">
          <div *ngIf="(cubeForm.controls['rev'].invalid && cubeForm.controls['rev'].touched)" class=" text-danger">
            Falta rev
          </div>
        </div>
        <div class="form-group">
          <label for="resistenciaProy">Resistencia Proyecto</label>
          <input type="number" id="resistenciaProy" class="form-control" formControlName="resistenciaProy">
          <div *ngIf="(cubeForm.controls['resistenciaProy'].invalid && cubeForm.controls['resistenciaProy'].touched)" class=" text-danger">
            Falta resistencia proyecto
          </div>
        </div>
        <div class="form-group">
          <label for="ubicacion">Ubicacion</label>
          <input type="text" id="ubicacion" class="form-control" formControlName="ubicacion">
          <div *ngIf="(cubeForm.controls['ubicacion'].invalid && cubeForm.controls['ubicacion'].touched)" class=" text-danger">
            Falta ubicacion
          </div>
        </div>
        <div class="form-group">
          <ngb-alert *ngIf="errMessage" type="warning" (close)="errMessage = null">{{errMessage}}</ngb-alert>
          <div class="text-right footerButtons">
            <button class="btn btn-danger" (click)="c('Cross click')">Cancel</button>
            <button type="submit" [disabled]="!cubeForm.valid" class="btn btn-success">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  <!-- This is the see more cylinder modal -->
  <ng-template #seeMoreCylinder let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Cilindro</h4>
      <button type="button" class="close" aria-label="Editar" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Edad: {{cylinder.edad}}</p>
      <p>Rev: {{cylinder.rev}}</p>
      <p>Diametro: {{cylinder.diametro}}</p>
      <p>Altura: {{cylinder.altura}}</p>
      <p>Area: {{cylinder.area}}</p>
      <p>Carga Kn: {{cylinder.cargaKn}}</p>
      <p>Carga Kgf: {{cylinder.cargaKgf}}</p>
      <p>Resistencia Kgf: {{cylinder.resistenciaKgf}}</p>
      <p>Resistencia Mpa: {{cylinder.resistenciaMpa}}</p>
      <p>Resistencia Proyecto: {{cylinder.resistenciaProy}}</p>
      <p>Resistencia %: {{cylinder.resistenciaPorce}}</p>
      <p>Ubicacion: {{cylinder.ubicacion}}</p>
    </div>
  </ng-template>
  <!-- This is the see more beam modal -->
  <ng-template #seeMoreBeam let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Viga</h4>
      <button type="button" class="close" aria-label="Editar" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Edad: {{beam.edad}}</p>
      <p>Rev: {{beam.rev}}</p>
      <p>Ancho: {{beam.ancho}}</p>
      <p>Peralte: {{beam.peralte}}</p>
      <p>Distancia Entre Apoyos: {{beam.distanciaEntreApoyos}}</p>
      <p>Carga Kn: {{beam.cargaKn}}</p>
      <p>Carga Kgf: {{beam.cargaKgf}}</p>
      <p>MR: {{beam.mr}}</p>
      <p>Resistencia Mpa: {{beam.resistenciaMpa}}</p>
      <p>MR Proyecto: {{beam.mrProy}}</p>
      <p>Resistencia %: {{beam.resistenciaPorce}}</p>
      <p>Ubicacion: {{beam.ubicacion}}</p>
    </div>
  </ng-template>
  <!-- This is the see more cube modal -->
  <ng-template #seeMoreCube let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Cubo</h4>
      <button type="button" class="close" aria-label="Editar" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Edad: {{cube.edad}}</p>
      <p>Rev: {{cube.rev}}</p>
      <p>largo: {{cube.largo}}</p>
      <p>ancho: {{cube.ancho}}</p>
      <p>Area: {{cube.area}}</p>
      <p>Carga Kn: {{cube.cargaKn}}</p>
      <p>Carga Kgf: {{cube.cargaKgf}}</p>
      <p>Resistencia Kgf: {{cube.resistenciaKgf}}</p>
      <p>Resistencia Mpa: {{cube.resistenciaMpa}}</p>
      <p>Resistencia Proyecto: {{cube.resistenciaProy}}</p>
      <p>Resistencia %: {{cube.resistenciaPorce}}</p>
      <p>Ubicacion: {{cube.ubicacion}}</p>
    </div>
  </ng-template>
  <!--This is the  edit cylinder modal -->
  <ng-template #editCylinderContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">{{item}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-inline dateOrders">
        <label for="colado">Ruptura</label>
        <div class="form-group date">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dpCylinderCol" [(ngModel)]="editedRupModel" ngbDatepicker #cylinderCol="ngbDatepicker">
            <button class="input-group-addon" (click)="cylinderCol.toggle()" type="button">
              <i class="material-icons">insert_invitation</i>
            </button>
          </div>
        </div>
      </form>
      <form class="form-horizontal" [formGroup]="cylinderForm" (ngSubmit)="saveEditedCylinder()">
        <div class="form-group">
          <label for="rev">Rev</label>
          <input type="number" id="rev" class="form-control" formControlName="rev" [value]="cylinder.rev">
          <div *ngIf="(cylinderForm.controls['rev'].invalid && cylinderForm.controls['rev'].touched)" class=" text-danger">
            Falta rev
          </div>
        </div>
        <div class="form-group">
          <label for="resistenciaProy">Resistencia Proyecto</label>
          <input type="number" id="resistenciaProy" class="form-control" formControlName="resistenciaProy" [value]="cylinder.resistenciaProy">
          <div *ngIf="(cylinderForm.controls['resistenciaProy'].invalid && cylinderForm.controls['resistenciaProy'].touched)" class=" text-danger">
            Falta resistencia proyecto
          </div>
        </div>
        <div class="form-group">
          <label for="ubicacion">Ubicacion</label>
          <input type="text" id="ubicacion" class="form-control" formControlName="ubicacion" [value]="cylinder.ubicacion">
          <div *ngIf="(cylinderForm.controls['ubicacion'].invalid && cylinderForm.controls['ubicacion'].touched)" class=" text-danger">
            Falta ubicacion
          </div>
        </div>
        <div class="form-group">
          <ngb-alert *ngIf="errMessage" type="warning" (close)="errMessage = null">{{errMessage}}</ngb-alert>
          <div class="text-right footerButtons">
            <button class="btn btn-danger" (click)="c('Cross click')">Cancel</button>
            <button type="submit" [disabled]="!cylinderForm.valid" class="btn btn-success">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  <!--This is the  edit beam modal -->
  <ng-template #editBeamContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">{{item}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-inline dateOrders">
        <label for="colado">Ruptura</label>
        <div class="form-group date">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dpBeamCol" [(ngModel)]="editedRupModel" ngbDatepicker #beamCol="ngbDatepicker">
            <button class="input-group-addon" (click)="beamCol.toggle()" type="button">
              <i class="material-icons">insert_invitation</i>
            </button>
          </div>
        </div>
      </form>
      <form class="form-horizontal" [formGroup]="beamForm" (ngSubmit)="saveEditedBeam()">
        <div class="form-group">
          <label for="rev">Rev</label>
          <input type="number" id="rev" class="form-control" formControlName="rev" [value]="beam.rev">
          <div *ngIf="(beamForm.controls['rev'].invalid && beamForm.controls['rev'].touched)" class=" text-danger">
            Falta rev
          </div>
        </div>
        <div class="form-group">
          <label for="mrProy">MR Proyecto</label>
          <input type="number" id="mrProy" class="form-control" formControlName="mrProy" [value]="beam.mrProy">
          <div *ngIf="(beamForm.controls['mrProy'].invalid && beamForm.controls['mrProy'].touched)" class=" text-danger">
            Falta MR proyecto
          </div>
        </div>
        <div class="form-group">
          <label for="ubicacion">Ubicacion</label>
          <input type="text" id="ubicacion" class="form-control" formControlName="ubicacion" [value]="beam.ubicacion">
          <div *ngIf="(beamForm.controls['ubicacion'].invalid && beamForm.controls['ubicacion'].touched)" class=" text-danger">
            Falta ubicacion
          </div>
        </div>
        <div class="form-group">
          <ngb-alert *ngIf="errMessage" type="warning" (close)="errMessage = null">{{errMessage}}</ngb-alert>
          <div class="text-right footerButtons">
            <button class="btn btn-danger" (click)="c('Cross click')">Cancel</button>
            <button type="submit" [disabled]="!beamForm.valid" class="btn btn-success">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  <!--This is the  edit cube modal -->
  <ng-template #editCubeContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">{{item}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-inline dateOrders">
        <label for="colado">Ruptura</label>
        <div class="form-group date">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dpCubeCol" [(ngModel)]="editedRupModel" ngbDatepicker #cubeCol="ngbDatepicker">
            <button class="input-group-addon" (click)="cubeCol.toggle()" type="button">
              <i class="material-icons">insert_invitation</i>
            </button>
          </div>
        </div>
      </form>
      <form class="form-horizontal" [formGroup]="cubeForm" (ngSubmit)="saveEditedCube()">
        <div class="form-group">
          <label for="rev">Rev</label>
          <input type="number" id="rev" class="form-control" formControlName="rev" [value]="cube.rev">
          <div *ngIf="(cubeForm.controls['rev'].invalid && cubeForm.controls['rev'].touched)" class=" text-danger">
            Falta rev
          </div>
        </div>
        <div class="form-group">
          <label for="resistenciaProy">Resistencia Proyecto</label>
          <input type="number" id="resistenciaProy" class="form-control" formControlName="resistenciaProy" [value]="cube.resistenciaProy">
          <div *ngIf="(cubeForm.controls['resistenciaProy'].invalid && cubeForm.controls['resistenciaProy'].touched)" class=" text-danger">
            Falta resistencia proyecto
          </div>
        </div>
        <div class="form-group">
          <label for="ubicacion">Ubicacion</label>
          <input type="text" id="ubicacion" class="form-control" formControlName="ubicacion" [value]="cube.ubicacion">
          <div *ngIf="(cubeForm.controls['ubicacion'].invalid && cubeForm.controls['ubicacion'].touched)" class=" text-danger">
            Falta ubicacion
          </div>
        </div>
        <div class="form-group">
          <ngb-alert *ngIf="errMessage" type="warning" (close)="errMessage = null">{{errMessage}}</ngb-alert>
          <div class="text-right footerButtons">
            <button class="btn btn-danger" (click)="c('Cross click')">Cancel</button>
            <button type="submit" [disabled]="!cubeForm.valid" class="btn btn-success">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
</div>
