<h2>Pendientes de Aprobacion</h2>
<ngb-tabset [justify]="currentJustify">
  <ngb-tab title="Clientes">
    <ng-template ngbTabContent>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>RFC</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Contacto</th>
            <th>Status</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients.items, let i = index">
            <td>{{client.name}}</td>
            <td>{{client.rfc}}</td>
            <td>{{client.email.email}}</td>
            <td>{{client.phoneNumber}}</td>
            <td>{{client.contact}}</td>
            <td>Pendiente de aprobacion</td>
            <td>
              <button type="button" class="btn btn-success" (click)="approveClient(i)">Aprobar</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="cancelClient(i)">Rechazar</button>
            </td>
          </tr>
        </tbody>
      </table>

    </ng-template>
  </ngb-tab>
  <ngb-tab title="Obras">
    <ng-template ngbTabContent>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Nombre del Cliente</th>
            <th>Domicilio Fiscal</th>
            <th>Tel.Contacto</th>
            <th>Correo de Contacto</th>
            <th>Supervisor Asignado</th>
            <th>Status</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let structure of structures.items, let c = index">
            <td>{{structure.name}}</td>
            <td>{{structure.businessName}}</td>
            <td>{{structure.taxDomicile}}</td>
            <td>{{structure.phoneNumber}}</td>
            <td>{{structure.responsibleStaff.email}}</td>
            <td>{{structure.assignedTo.name}}</td>
            <td>Pendiente de aprobacion</td>
            <td>
              <button type="button" class="btn btn-success" (click)="approveStructure(c)">Aprobar</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="cancelStructure(c)">Rechazar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Ordenes de Servicio">
    <ng-template ngbTabContent>
      <table class="table table-striped">
        <thead>
          <tr>
            <!--<th></th>-->
            <th>ID</th>
            <th>Cliente</th>
            <th>Obra</th>
            <th>Fecha</th>
            <th>Supervisor Asignado</th>
            <th>Tecnico asignado</th>
            <th>Status</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let serviceOrder of serviceOrders.items, let d = index">
            <!--
              <td>
                  <a class="more" (click)="more(seeMore, d)">Ver mas</a>
                </td>
              -->
            <td>{{serviceOrder.maskID}}</td>
            <td>{{serviceOrder.construction.businessName}}</td>
            <td>{{serviceOrder.construction.name}}</td>
            <td>{{serviceOrder.orderDate.split('T')[0]}}</td>
            <td>{{serviceOrder.assignedTo.assignedTo.name}}</td>
            <td>{{serviceOrder.assignedTo.name}}</td>
            <td>Pendiente de aprobacion</td>
            <td>
              <button type="button" class="btn btn-success" (click)="approveServiceOrder(d)" >Aprobar</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="cancelServiceOrder(d)" >Rechazar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
<ng-template #seeMore let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title"></h4>
      <button type="button" class="close" aria-label="Editar" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    </div>
  </ng-template>
