h2 {
  margin-bottom: 1rem;
  font-weight:bold;
  font-size: 1.5em;
  text-align: center;
}

.structureForm{
  width: 50%;
  margin-left: 23%;
  margin-top: 2rem;
}

.btn-outline-secondary{
  margin-right: 1rem;
}

.saveButton{
  margin-top: 2rem;
}

.dropdownButton{
  margin-top: .3em;
  margin-bottom: .9rem;
}

.help-block{
  background-color: lightgoldenrodyellow;
}

