<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top testt">
    <span class="navbar-brand">S C I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{userName}} </span>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto justify-content-end">
      </ul>
    </div>
  </nav>
</header>
<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block sidebar bg-light">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['service-order']" href="">Ordenes de servicio</a>
        </li>
      </ul>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['login']" href="">Salir</a>
        </li>
      </ul>
    </nav>

    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3 content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
