<div class="addButton">
  <a (click)="add()">
    <button type="button" class="btn btn-primary">Añadir</button>
  </a>
</div>
<h2>Clientes</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>RFC</th>
        <th>Email</th>
        <th>Telefono</th>
        <th>Contacto</th>
        <th>Editar</th>
        <th>Borrar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients.items, let i = index">
        <td>
          <a class="more" (click)="more(seeMore, i)">Ver mas</a>
        </td>
        <td>{{client.name}}</td>
        <td>{{client.rfc}}</td>
        <td>{{client.email.email}}</td>
        <td>{{client.phoneNumber}}</td>
        <td>{{client.contact}}</td>
        <td>
          <a (click)="editClient(i)">
            <i class="material-icons">create</i>
          </a>
        </td>
        <td>
          <a (click)="open(deleteModal, i)">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="isNextPage == 20">
  <button type="button" class="btn btn-secondary" (click)="moreClients()">Más</button>
</div>
<!--Template of the modal that shows the information of the client -->
<ng-template #seeMore let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{clientsModel.name}}</h4>
    <button type="button" class="close" aria-label="Editar" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Direccion: {{clientsModel.address}}</p>
    <p>Numero exterior: {{clientsModel.extNumber}}</p>
    <p>Numero interior: {{clientsModel.intNumber}}</p>
    <p>Colonia: {{clientsModel.suburb}}</p>
    <p>Delegacion: {{clientsModel.locality}}</p>
    <p>Codigo Postal: {{clientsModel.zipCode}}</p>
    <p>Estado: {{clientsModel.state}}</p>
    <p>Ciudad: {{clientsModel.city}}</p>
    <p>RFC: {{clientsModel.rfc}}</p>
    <p>Correo: {{clientsModel.email}}</p>
    <p>Telefono: {{clientsModel.phoneNumber}}</p>
    <p>Contacto: {{clientsModel.contact}}</p>
  </div>
</ng-template>
<!-- Teplate of the modal that appears when you press the button of delete -->
<ng-template #deleteModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Borrar Cliente {{clientName}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>El estado del cliente pasara a inactivo y ya no se mostrara en pantalla.
      <br> Si deseas eliminarlo del sistema active la casilla de
      <b>borrar por completo</b>.</p>
      <p>Nota: Una vez borrado la informacion no podra recuperarse.</p>
    <div class="form-check">
      <input class="form-check-input" [(ngModel)]="delete" type="checkbox" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        Borrar por completo
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="deleteClient()">Aceptar</button>
  </div>
</ng-template>
