<div>
  <div class="loginForm">
    <h2>INGRESAR</h2>
    <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="login()" >
      <div class="form-group">
        <label for="user">Usuario</label>
        <input type="text" id="user" class="form-control" formControlName="user">
        <div *ngIf="loginForm.controls['user'].invalid && loginForm.controls['user'].touched" class="text-danger">
          Falta usuario
        </div>
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" class="form-control" formControlName="password">
        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="text-danger">
          Falta contraseña
        </div>
      </div>
      <div class="form-group">
        <ngb-alert *ngIf="errMessage" type="warning" (close)="errMessage = null">{{errMessage}}</ngb-alert>
        <button type="submit" [disabled]="!loginForm.valid" class="btn btn btn-primary btn-block">Iniciar Sesion</button>
      </div>
    </form>
  </div>

</div>
