.loginForm {
  width: 30%;
  background-color: white;
  margin: 0 auto;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-radius: 7px;
  margin-top: 10%;
}

h2{
  text-align: center;
  margin-bottom: 1.5rem;
}

