<div *ngIf="this.users">
  <div *ngIf="currentServiceOrder">
    <div *ngIf="item === 'Cilindro'" class="row justify-content-end">
      <div class="addButton">
        <button type="button" class="btn btn-info" (click)="addCylinder(cylinderModal)">Añadir {{item}}</button>
      </div>
      <div *ngIf="orderAction != 'Toma de muestra'" class="saveButton">
        <button type="button" class="btn btn-success" (click)="save()">Guardar</button>
      </div>
      <div class="cancelButton">
        <button type="button" class="btn btn-danger" (click)="cancelOrder()">Cancelar</button>
      </div>
      <div *ngIf="orderAction == 'Toma de muestra' && component === 'cylinder'" class="tomaMuestra">
        <button type="button" class="btn btn-warning" (click)="finishSample()">Finalizar Toma de Muestra</button>
      </div>
      <div *ngIf="orderAction == 'Prueba' && component === 'cylinder' && isLastOrder === true" class="tomaMuestra">
        <button type="button" class="btn btn-warning" (click)="finishServiceOrder()">Finalizar Orden de Servicio</button>
      </div>
    </div>
    <div *ngIf="item === 'Viga'" class="row justify-content-end">
      <div class="addButton">
        <button type="button" class="btn btn-info" (click)="addBeam(beamModal)">Añadir {{item}}</button>
      </div>
      <div *ngIf="orderAction != 'Toma de muestra'" class="saveButton">
        <button type="button" class="btn btn-success" (click)="save()">Guardar</button>
      </div>
      <div class="cancelButton">
        <button type="button" class="btn btn-danger" (click)="cancelOrder()">Cancelar</button>
      </div>
      <div *ngIf="orderAction == 'Toma de muestra' && component === 'beam'" class="tomaMuestra">
        <button type="button" class="btn btn-warning" (click)="finishSample()">Finalizar Toma de Muestra</button>
      </div>
      <div *ngIf="orderAction == 'Prueba' && component === 'beam' && isLastOrder === true" class="tomaMuestra">
        <button type="button" class="btn btn-warning" (click)="finishServiceOrder()">Finalizar Orden de Servicio</button>
      </div>
    </div>
    <div *ngIf="item === 'Cubo'" class="row justify-content-end">
      <div class="addButton">
        <button type="button" class="btn btn-info" (click)="addCube(cubeModal)">Añadir {{item}}</button>
      </div>
      <div *ngIf="orderAction != 'Toma de muestra'" class="saveButton">
        <button type="button" class="btn btn-success" (click)="save()">Guardar</button>
      </div>
      <div class="cancelButton">
        <button type="button" class="btn btn-danger" (click)="cancelOrder()">Cancelar</button>
      </div>
      <div *ngIf="orderAction == 'Toma de muestra' && component === 'cube'" class="tomaMuestra">
        <button type="button" class="btn btn-warning" (click)="finishSample()">Finalizar Toma de Muestra</button>
      </div>
      <div *ngIf="orderAction == 'Prueba' && component === 'cube' && isLastOrder === true" class="tomaMuestra">
        <button type="button" class="btn btn-warning" (click)="finishServiceOrder()">Finalizar Orden de Servicio</button>
      </div>
    </div>
    <h2>Orden de Servicio {{currentServiceOrder.maskID}}</h2>
    <div *ngIf="role === 'Admin'">
      <div class="row dateClient">
        <div ngbDropdown class="d-inline-block dropdownButton">
          <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle [disabled]="true">{{currentServiceOrder.construction.name}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button></button>
          </div>
        </div>
        <form class="form-inline servDate">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dpMenu" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" [disabled]="true">
              <button class="input-group-addon" (click)="d.toggle()" type="button">
                <i class="material-icons">insert_invitation</i>
              </button>
            </div>
          </div>
        </form>
        <label for="dropdownBasic1" class="labelD">Tecnico Asignado</label>
        <div ngbDropdown class="d-inline-block dropdownButtonEmployee">
          <button type="button" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>{{currentServiceOrder.assignedTo.name}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button type="button" class="dropdown-item" *ngFor="let user of users.items" (click)="userInfo(user.name, user.websafeKey)">
              {{user.name}}</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="role === 'Director'">
      <div class="row dateClient">
        <div ngbDropdown class="d-inline-block dropdownButton">
          <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle [disabled]="true">{{currentServiceOrder.construction.name}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button></button>
          </div>
        </div>
        <form class="form-inline servDate">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dpMenu" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" [disabled]="true">
              <button class="input-group-addon" (click)="d.toggle()" type="button">
                <i class="material-icons">insert_invitation</i>
              </button>
            </div>
          </div>
        </form>
        <label for="dropdownBasic1" class="labelD">Tecnico Asignado</label>
        <div ngbDropdown class="d-inline-block dropdownButtonEmployee">
          <button type="button" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>{{currentServiceOrder.assignedTo.name}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button type="button" class="dropdown-item" *ngFor="let user of users.items" (click)="userInfo(user.name, user.websafeKey)">
              {{user.name}}</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="role === 'Supervisor'">
      <div class="row dateClient">
        <div ngbDropdown class="d-inline-block dropdownButton">
          <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle [disabled]="true">{{currentServiceOrder.construction.name}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button></button>
          </div>
        </div>
        <form class="form-inline servDate">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dpMenu" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" [disabled]="true">
              <button class="input-group-addon" (click)="d.toggle()" type="button">
                <i class="material-icons">insert_invitation</i>
              </button>
            </div>
          </div>
        </form>
        <label for="dropdownBasic1" class="labelD">Tecnico Asignado</label>
        <div ngbDropdown class="d-inline-block dropdownButtonEmployee">
          <button type="button" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>{{currentServiceOrder.assignedTo.name}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button type="button" class="dropdown-item" *ngFor="let user of users.items" (click)="userInfo(user.name, user.websafeKey)">
              {{user.name}}</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="role === 'Tecnico'">
      <div class="row dateClientTec">
        <div ngbDropdown class="d-inline-block dropdownButton">
          <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle [disabled]="true">{{currentServiceOrder.construction.name}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button></button>
          </div>
        </div>
        <form class="form-inline servDate">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dpMenu" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" [disabled]="true">
              <button class="input-group-addon" (click)="d.toggle()" type="button">
                <i class="material-icons">insert_invitation</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- This is the tabs HTML code -->
    <ngb-tabset [justify]="currentJustify" (tabChange)="tabName($event)" #t="ngbTabset">
      <ngb-tab id="cylinders" title="Cilindros" [disabled]="cylinderTab">
        <ng-template ngbTabContent>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Cilindro</th>
                  <th>Colado</th>
                  <th>Ruptura</th>
                  <th>Editar</th>
                  <th>Borrar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cylinder of cylinderArray, let i = index">
                  <td>
                    <a class="more" (click)="moreCylinder(seeMoreCylinder, i)">
                      Ver mas
                    </a>
                  </td>
                  <td>Cilindro {{i + 1}}</td>
                  <td>{{cylinder.colado}}</td>
                  <td>{{cylinder.ruptura}}</td>
                  <td>
                    <a (click)="editCylinder(editCylinderContent, i)">
                      <i class="material-icons">create</i>
                    </a>
                  </td>
                  <td>
                    <a (click)="deleteCylinder(i)">
                      <i class="material-icons">delete</i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="beams" title="Vigas" [disabled]="beamTab">
        <ng-template ngbTabContent>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Viga</th>
                  <th>Colado</th>
                  <th>Ruptura</th>
                  <th>Editar</th>
                  <th>Borrar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let beam of beamArray, let c = index">
                  <td>
                    <a class="more" (click)="moreBeam(seeMoreBeam, c)">
                      Ver mas
                    </a>
                  </td>
                  <td>Viga {{c + 1}}</td>
                  <td>{{beam.colado}}</td>
                  <td>{{beam.ruptura}}</td>
                  <td>
                    <a (click)="editBeam(editBeamContent, c)">
                      <i class="material-icons">create</i>
                    </a>
                  </td>
                  <td>
                    <a (click)="deleteBeam(c)">
                      <i class="material-icons">delete</i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="cubes" title="Cubos" [disabled]="cubeTab">
        <ng-template ngbTabContent>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Cubo</th>
                  <th>Colado</th>
                  <th>Ruptura</th>
                  <th>Editar</th>
                  <th>Borrar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cube of cubeArray, let d = index">
                  <td>
                    <a class="more" (click)="moreCube(seeMoreCube, d)">
                      Ver mas
                    </a>
                  </td>
                  <td>Cubo {{d + 1}}</td>
                  <td>{{cube.colado}}</td>
                  <td>{{cube.ruptura}}</td>
                  <td>
                    <a (click)="editCube(editCubeContent, d)">
                      <i class="material-icons">create</i>
                    </a>
                  </td>
                  <td>
                    <a (click)="deleteCube(d)">
                      <i class="material-icons">delete</i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
    <!--This is the cylinder modal  -->
    <ng-template #cylinderModal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">{{item}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-inline dateOrders">
          <label for="colado">Colado</label>
          <div class="form-group date">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dpCylinderCol" [(ngModel)]="cylinderColModel" ngbDatepicker #cylinderCol="ngbDatepicker">
              <button class="input-group-addon" (click)="cylinderCol.toggle()" type="button">
                <i class="material-icons">insert_invitation</i>
              </button>
            </div>
          </div>
          <label class="rupLabel" for="colado">Ruptura</label>
          <div class="form-group date">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dpCylinderRup" [(ngModel)]="cylinderRupModel" ngbDatepicker #cylinderRup="ngbDatepicker">
              <button class="input-group-addon" (click)="cylinderRup.toggle()" type="button">
                <i class="material-icons">insert_invitation</i>
              </button>
            </div>
          </div>
        </form>
        <form class="form-horizontal" [formGroup]="cylinderForm" (ngSubmit)="saveCylinder()">
          <div class="form-group">
            <label for="rev">Rev</label>
            <input type="number" id="rev" class="form-control" formControlName="rev">
            <div *ngIf="(cylinderForm.controls['rev'].invalid && cylinderForm.controls['rev'].touched)" class=" text-danger">
              Falta rev
            </div>
          </div>
          <div class="form-group">
            <label for="resistenciaProy">Resistencia Proyecto</label>
            <input type="number" id="resistenciaProy" class="form-control" formControlName="resistenciaProy">
            <div *ngIf="(cylinderForm.controls['resistenciaProy'].invalid && cylinderForm.controls['resistenciaProy'].touched)" class=" text-danger">
              Falta resistencia proyecto
            </div>
          </div>
          <div class="form-group">
            <label for="ubicacion">Ubicacion</label>
            <input type="text" id="ubicacion" class="form-control" formControlName="ubicacion">
            <div *ngIf="(cylinderForm.controls['ubicacion'].invalid && cylinderForm.controls['ubicacion'].touched)" class=" text-danger">
              Falta ubicacion
            </div>
          </div>
          <div class="form-group">
            <ngb-alert *ngIf="errMessage" type="warning" (close)="errMessage = null">{{errMessage}}</ngb-alert>
            <div class="text-right footerButtons">
              <button class="btn btn-danger" (click)="c('Cross click')">Cancel</button>
              <button type="submit" [disabled]="!cylinderForm.valid" class="btn btn-success">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
    <!--This is the beam modal  -->
    <ng-template #beamModal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">{{item}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-inline dateOrders">
          <label for="colado">Colado</label>
          <div class="form-group date">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dpBeamCol" [(ngModel)]="beamColModel" ngbDatepicker #beamCol="ngbDatepicker">
              <button class="input-group-addon" (click)="beamCol.toggle()" type="button">
                <i class="material-icons">insert_invitation</i>
              </button>
            </div>
          </div>
          <label class="rupLabel" for="colado">Ruptura</label>
          <div class="form-group date">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dpBeamRup" [(ngModel)]="beamRupModel" ngbDatepicker #beamRup="ngbDatepicker">
              <button class="input-group-addon" (click)="beamRup.toggle()" type="button">
                <i class="material-icons">insert_invitation</i>
              </button>
            </div>
          </div>
        </form>
        <form class="form-horizontal" [formGroup]="beamForm" (ngSubmit)="saveBeam()">
          <div class="form-group">
            <label for="rev">Rev</label>
            <input type="number" id="rev" class="form-control" formControlName="rev">
            <div *ngIf="(beamForm.controls['rev'].invalid && beamForm.controls['rev'].touched)" class=" text-danger">
              Falta rev
            </div>
          </div>
          <div class="form-group">
            <label for="mrProy">MR Proyecto</label>
            <input type="number" id="mrProy" class="form-control" formControlName="mrProy">
            <div *ngIf="(beamForm.controls['mrProy'].invalid && beamForm.controls['mrProy'].touched)" class=" text-danger">
              Falta MR proyecto
            </div>
          </div>
          <div class="form-group">
            <label for="ubicacion">Ubicacion</label>
            <input type="text" id="ubicacion" class="form-control" formControlName="ubicacion">
            <div *ngIf="(beamForm.controls['ubicacion'].invalid && beamForm.controls['ubicacion'].touched)" class=" text-danger">
              Falta ubicacion
            </div>
          </div>
          <div class="form-group">
            <ngb-alert *ngIf="errMessage" type="warning" (close)="errMessage = null">{{errMessage}}</ngb-alert>
            <div class="text-right footerButtons">
              <button class="btn btn-danger" (click)="c('Cross click')">Cancel</button>
              <button type="submit" [disabled]="!beamForm.valid" class="btn btn-success">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
    <!--This is the cube modal  -->
    <ng-template #cubeModal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">{{item}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-inline dateOrders">
          <label for="colado">Colado</label>
          <div class="form-group date">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dpCubeCol" [(ngModel)]="cubeColModel" ngbDatepicker #cubeCol="ngbDatepicker">
              <button class="input-group-addon" (click)="cubeCol.toggle()" type="button">
                <i class="material-icons">insert_invitation</i>
              </button>
            </div>
          </div>
          <label class="rupLabel" for="colado">Ruptura</label>
          <div class="form-group date">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dpCubeRup" [(ngModel)]="cubeRupModel" ngbDatepicker #cubeRup="ngbDatepicker">
              <button class="input-group-addon" (click)="cubeRup.toggle()" type="button">
                <i class="material-icons">insert_invitation</i>
              </button>
            </div>
          </div>
        </form>
        <form class="form-horizontal" [formGroup]="cubeForm" (ngSubmit)="saveCube()">
          <div class="form-group">
            <label for="rev">Rev</label>
            <input type="number" id="rev" class="form-control" formControlName="rev">
            <div *ngIf="(cubeForm.controls['rev'].invalid && cubeForm.controls['rev'].touched)" class=" text-danger">
              Falta rev
            </div>
          </div>
          <div class="form-group">
            <label for="resistenciaProy">Resistencia Proyecto</label>
            <input type="number" id="resistenciaProy" class="form-control" formControlName="resistenciaProy">
            <div *ngIf="(cubeForm.controls['resistenciaProy'].invalid && cubeForm.controls['resistenciaProy'].touched)" class=" text-danger">
              Falta resistencia proyecto
            </div>
          </div>
          <div class="form-group">
            <label for="ubicacion">Ubicacion</label>
            <input type="text" id="ubicacion" class="form-control" formControlName="ubicacion">
            <div *ngIf="(cubeForm.controls['ubicacion'].invalid && cubeForm.controls['ubicacion'].touched)" class=" text-danger">
              Falta ubicacion
            </div>
          </div>
          <div class="form-group">
            <ngb-alert *ngIf="errMessage" type="warning" (close)="errMessage = null">{{errMessage}}</ngb-alert>
            <div class="text-right footerButtons">
              <button class="btn btn-danger" (click)="c('Cross click')">Cancel</button>
              <button type="submit" [disabled]="!cubeForm.valid" class="btn btn-success">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
    <!-- This is the see more cylinder modal -->
    <ng-template #seeMoreCylinder let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Cilindro</h4>
        <button type="button" class="close" aria-label="Editar" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Edad: {{cylinder.edad}}</p>
        <p>Rev: {{cylinder.rev}}</p>
        <p>Diametro: {{cylinder.diametro}}</p>
        <p>Altura: {{cylinder.altura}}</p>
        <p>Area: {{cylinder.area}}</p>
        <p>Carga Kn: {{cylinder.cargaKn}}</p>
        <p>Carga Kgf: {{cylinder.cargaKgf}}</p>
        <p>Resistencia Kgf: {{cylinder.resistenciaKgf}}</p>
        <p>Resistencia Mpa: {{cylinder.resistenciaMpa}}</p>
        <p>Resistencia Proyecto: {{cylinder.resistenciaProy}}</p>
        <p>Resistencia %: {{cylinder.resistenciaPorce}}</p>
        <p>Ubicacion: {{cylinder.ubicacion}}</p>
      </div>
    </ng-template>
    <!-- This is the see more beam modal -->
    <ng-template #seeMoreBeam let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Viga</h4>
        <button type="button" class="close" aria-label="Editar" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Edad: {{beam.edad}}</p>
        <p>Rev: {{beam.rev}}</p>
        <p>Ancho: {{beam.ancho}}</p>
        <p>Peralte: {{beam.peralte}}</p>
        <p>Distancia Entre Apoyos: {{beam.distanciaEntreApoyos}}</p>
        <p>Carga Kn: {{beam.cargaKn}}</p>
        <p>Carga Kgf: {{beam.cargaKgf}}</p>
        <p>MR: {{beam.mr}}</p>
        <p>Resistencia Mpa: {{beam.resistenciaMpa}}</p>
        <p>MR Proyecto: {{beam.mrProy}}</p>
        <p>Resistencia %: {{beam.resistenciaPorce}}</p>
        <p>Ubicacion: {{beam.ubicacion}}</p>
      </div>
    </ng-template>
    <!-- This is the see more cube modal -->
    <ng-template #seeMoreCube let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Cubo</h4>
        <button type="button" class="close" aria-label="Editar" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Edad: {{cube.edad}}</p>
        <p>Rev: {{cube.rev}}</p>
        <p>largo: {{cube.largo}}</p>
        <p>ancho: {{cube.ancho}}</p>
        <p>Area: {{cube.area}}</p>
        <p>Carga Kn: {{cube.cargaKn}}</p>
        <p>Carga Kgf: {{cube.cargaKgf}}</p>
        <p>Resistencia Kgf: {{cube.resistenciaKgf}}</p>
        <p>Resistencia Mpa: {{cube.resistenciaMpa}}</p>
        <p>Resistencia Proyecto: {{cube.resistenciaProy}}</p>
        <p>Resistencia %: {{cube.resistenciaPorce}}</p>
        <p>Ubicacion: {{cube.ubicacion}}</p>
      </div>
    </ng-template>
    <!--This is the  edit cylinder modal -->
    <ng-template #editCylinderContent let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">{{item}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" [formGroup]="cylinderForm" (ngSubmit)="saveEditedCylinder()">
          <div class="form-group">
            <label for="edad">Edad</label>
            <input type="number" id="edad" class="form-control" formControlName="edad" [value]="cylinder.edad">
            <div *ngIf="(cylinderForm.controls['edad'].invalid && cylinderForm.controls['edad'].touched)" class=" text-danger">
              Falta edad
            </div>
          </div>
          <div class="form-group">
            <label for="rev">Rev</label>
            <input type="number" id="rev" class="form-control" formControlName="rev" [value]="cylinder.rev">
            <div *ngIf="(cylinderForm.controls['rev'].invalid && cylinderForm.controls['rev'].touched)" class=" text-danger">
              Falta rev
            </div>
          </div>
          <div class="form-group">
            <label for="diametro">Diametro</label>
            <input type="number" id="diametro" class="form-control" formControlName="diametro" [value]="cylinder.diametro">
            <div *ngIf="(cylinderForm.controls['diametro'].invalid && cylinderForm.controls['diametro'].touched)" class=" text-danger">
              Falta diametro
            </div>
          </div>
          <div class="form-group">
            <label for="altura">Altura</label>
            <input type="number" id="altura" class="form-control" formControlName="altura" [value]="cylinder.altura">
            <div *ngIf="(cylinderForm.controls['altura'].invalid && cylinderForm.controls['altura'].touched)" class=" text-danger">
              Falta altura
            </div>
          </div>
          <div class="form-group">
            <label for="area">Area</label>
            <input type="number" id="area" class="form-control" formControlName="area" [value]="cylinder.area">
            <div *ngIf="(cylinderForm.controls['area'].invalid && cylinderForm.controls['area'].touched)" class=" text-danger">
              Falta area
            </div>
          </div>
          <div class="form-group">
            <label for="cargaKn">Carga Kn</label>
            <input type="number" id="cargaKn" class="form-control" formControlName="cargaKn" [value]="cylinder.cargaKn">
            <div *ngIf="(cylinderForm.controls['cargaKn'].invalid && cylinderForm.controls['cargaKn'].touched)" class=" text-danger">
              Falta carga kn
            </div>
          </div>
          <div class="form-group">
            <label for="cargaKgf">Carga Kgf</label>
            <input type="number" id="cargaKgf" class="form-control" formControlName="cargaKgf" [value]="cylinder.cargaKgf">
            <div *ngIf="(cylinderForm.controls['cargaKgf'].invalid && cylinderForm.controls['cargaKgf'].touched)" class=" text-danger">
              Falta carga kgf
            </div>
          </div>
          <div class="form-group">
            <label for="resistenciaKgf">Resistencia Kgf</label>
            <input type="number" id="resistenciaKgf" class="form-control" formControlName="resistenciaKgf" [value]="cylinder.resistenciaKgf">
            <div *ngIf="(cylinderForm.controls['resistenciaKgf'].invalid && cylinderForm.controls['cargaKgf'].touched)" class=" text-danger">
              Falta resistencia kgf
            </div>
          </div>
          <div class="form-group">
            <label for="resistenciaMpa">Resistencia Mpa</label>
            <input type="number" id="resistenciaMpa" class="form-control" formControlName="resistenciaMpa" [value]="cylinder.resistenciaMpa">
            <div *ngIf="(cylinderForm.controls['resistenciaMpa'].invalid && cylinderForm.controls['resistenciaMpa'].touched)" class=" text-danger">
              Falta resistencia mpa
            </div>
          </div>
          <div class="form-group">
            <label for="resistenciaProy">Resistencia Proyecto</label>
            <input type="number" id="resistenciaProy" class="form-control" formControlName="resistenciaProy" [value]="cylinder.resistenciaProy">
            <div *ngIf="(cylinderForm.controls['resistenciaProy'].invalid && cylinderForm.controls['resistenciaProy'].touched)" class=" text-danger">
              Falta resistencia proyecto
            </div>
          </div>
          <div class="form-group">
            <label for="resistenciaPorce">Resistencia %</label>
            <input type="number" id="resistenciaPorce" class="form-control" formControlName="resistenciaPorce" [value]="cylinder.resistenciaPorce">
            <div *ngIf="(cylinderForm.controls['resistenciaPorce'].invalid && cylinderForm.controls['resistenciaPorce'].touched)" class=" text-danger">
              Falta resistencia
            </div>
          </div>
          <div class="form-group">
            <label for="ubicacion">Ubicacion</label>
            <input type="text" id="ubicacion" class="form-control" formControlName="ubicacion" [value]="cylinder.ubicacion">
            <div *ngIf="(cylinderForm.controls['ubicacion'].invalid && cylinderForm.controls['ubicacion'].touched)" class=" text-danger">
              Falta ubicacion
            </div>
          </div>
          <div class="form-group">
            <ngb-alert *ngIf="errMessage" type="warning" (close)="errMessage = null">{{errMessage}}</ngb-alert>
            <div class="text-right footerButtons">
              <button class="btn btn-danger" (click)="c('Cross click')">Cancel</button>
              <button type="submit" [disabled]="!cylinderForm.valid" class="btn btn-success">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
    <!--This is the  edit beam modal -->
    <ng-template #editBeamContent let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">{{item}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" [formGroup]="beamForm" (ngSubmit)="saveEditedBeam()">
          <div class="form-group">
            <label for="edad">Edad</label>
            <input type="number" id="edad" class="form-control" formControlName="edad" [value]="beam.edad">
            <div *ngIf="(beamForm.controls['edad'].invalid && beamForm.controls['edad'].touched)" class=" text-danger">
              Falta edad
            </div>
          </div>
          <div class="form-group">
            <label for="rev">Rev</label>
            <input type="number" id="rev" class="form-control" formControlName="rev" [value]="beam.rev">
            <div *ngIf="(beamForm.controls['rev'].invalid && beamForm.controls['rev'].touched)" class=" text-danger">
              Falta rev
            </div>
          </div>
          <div class="form-group">
            <label for="ancho">Ancho</label>
            <input type="number" id="ancho" class="form-control" formControlName="ancho" [value]="beam.ancho">
            <div *ngIf="(beamForm.controls['ancho'].invalid && beamForm.controls['ancho'].touched)" class=" text-danger">
              Falta ancho
            </div>
          </div>
          <div class="form-group">
            <label for="peralte">Peralte</label>
            <input type="number" id="peralte" class="form-control" formControlName="peralte" [value]="beam.peralte">
            <div *ngIf="(beamForm.controls['peralte'].invalid && beamForm.controls['peralte'].touched)" class=" text-danger">
              Falta peralte
            </div>
          </div>
          <div class="form-group">
            <label for="distanciaEntreApoyos">Distancia Entre Apoyos</label>
            <input type="number" id="distanciaEntreApoyos" class="form-control" formControlName="distanciaEntreApoyos" [value]="beam.distanciaEntreApoyos">
            <div *ngIf="(beamForm.controls['distanciaEntreApoyos'].invalid && beamForm.controls['distanciaEntreApoyos'].touched)" class=" text-danger">
              Falta distancia entre apoyos
            </div>
          </div>
          <div class="form-group">
            <label for="cargaKn">Carga Kn</label>
            <input type="number" id="cargaKn" class="form-control" formControlName="cargaKn" [value]="beam.cargaKn">
            <div *ngIf="(beamForm.controls['cargaKn'].invalid && beamForm.controls['cargaKn'].touched)" class=" text-danger">
              Falta carga kn
            </div>
          </div>
          <div class="form-group">
            <label for="cargaKgf">Carga Kgf</label>
            <input type="number" id="cargaKgf" class="form-control" formControlName="cargaKgf" [value]="beam.cargaKgf">
            <div *ngIf="(beamForm.controls['cargaKgf'].invalid && beamForm.controls['cargaKgf'].touched)" class=" text-danger">
              Falta carga kgf
            </div>
          </div>
          <div class="form-group">
            <label for="mr">MR</label>
            <input type="number" id="mr" class="form-control" formControlName="mr" [value]="beam.mr">
            <div *ngIf="(beamForm.controls['mr'].invalid && beamForm.controls['mr'].touched)" class=" text-danger">
              Falta MR
            </div>
          </div>
          <div class="form-group">
            <label for="resistenciaMpa">Resistencia Mpa</label>
            <input type="number" id="resistenciaMpa" class="form-control" formControlName="resistenciaMpa" [value]="beam.resistenciaMpa">
            <div *ngIf="(beamForm.controls['resistenciaMpa'].invalid && beamForm.controls['resistenciaMpa'].touched)" class=" text-danger">
              Falta resistencia mpa
            </div>
          </div>
          <div class="form-group">
            <label for="mrProy">MR Proyecto</label>
            <input type="number" id="mrProy" class="form-control" formControlName="mrProy" [value]="beam.mrProy">
            <div *ngIf="(beamForm.controls['mrProy'].invalid && beamForm.controls['mrProy'].touched)" class=" text-danger">
              Falta MR proyecto
            </div>
          </div>
          <div class="form-group">
            <label for="resistenciaPorce">Resistencia %</label>
            <input type="number" id="resistenciaPorce" class="form-control" formControlName="resistenciaPorce" [value]="beam.resistenciaPorce">
            <div *ngIf="(beamForm.controls['resistenciaPorce'].invalid && beamForm.controls['resistenciaPorce'].touched)" class=" text-danger">
              Falta resistencia
            </div>
          </div>
          <div class="form-group">
            <label for="ubicacion">Ubicacion</label>
            <input type="text" id="ubicacion" class="form-control" formControlName="ubicacion" [value]="beam.ubicacion">
            <div *ngIf="(beamForm.controls['ubicacion'].invalid && beamForm.controls['ubicacion'].touched)" class=" text-danger">
              Falta ubicacion
            </div>
          </div>
          <div class="form-group">
            <ngb-alert *ngIf="errMessage" type="warning" (close)="errMessage = null">{{errMessage}}</ngb-alert>
            <div class="text-right footerButtons">
              <button class="btn btn-danger" (click)="c('Cross click')">Cancel</button>
              <button type="submit" [disabled]="!beamForm.valid" class="btn btn-success">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
    <!--This is the  edit cube modal -->
    <ng-template #editCubeContent let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">{{item}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" [formGroup]="cubeForm" (ngSubmit)="saveEditedCube()">
          <div class="form-group">
            <label for="edad">Edad</label>
            <input type="number" id="edad" class="form-control" formControlName="edad" [value]="cube.edad">
            <div *ngIf="(cubeForm.controls['edad'].invalid && cubeForm.controls['edad'].touched)" class=" text-danger">
              Falta edad
            </div>
          </div>
          <div class="form-group">
            <label for="rev">Rev</label>
            <input type="number" id="rev" class="form-control" formControlName="rev" [value]="cube.rev">
            <div *ngIf="(cubeForm.controls['rev'].invalid && cubeForm.controls['rev'].touched)" class=" text-danger">
              Falta rev
            </div>
          </div>
          <div class="form-group">
            <label for="largo">Largo</label>
            <input type="number" id="largo" class="form-control" formControlName="largo" [value]="cube.largo">
            <div *ngIf="(cubeForm.controls['largo'].invalid && cubeForm.controls['largo'].touched)" class=" text-danger">
              Falta largo
            </div>
          </div>
          <div class="form-group">
            <label for="ancho">Ancho</label>
            <input type="number" id="ancho" class="form-control" formControlName="ancho" [value]="cube.ancho">
            <div *ngIf="(cubeForm.controls['ancho'].invalid && cubeForm.controls['ancho'].touched)" class=" text-danger">
              Falta ancho
            </div>
          </div>
          <div class="form-group">
            <label for="area">Area</label>
            <input type="number" id="area" class="form-control" formControlName="area" [value]="cube.area">
            <div *ngIf="(cubeForm.controls['area'].invalid && cubeForm.controls['area'].touched)" class=" text-danger">
              Falta area
            </div>
          </div>
          <div class="form-group">
            <label for="cargaKn">Carga Kn</label>
            <input type="number" id="cargaKn" class="form-control" formControlName="cargaKn" [value]="cube.cargaKn">
            <div *ngIf="(cubeForm.controls['cargaKn'].invalid && cubeForm.controls['cargaKn'].touched)" class=" text-danger">
              Falta carga kn
            </div>
          </div>
          <div class="form-group">
            <label for="cargaKgf">Carga Kgf</label>
            <input type="number" id="cargaKgf" class="form-control" formControlName="cargaKgf" [value]="cube.cargaKgf">
            <div *ngIf="(cubeForm.controls['cargaKgf'].invalid && cubeForm.controls['cargaKgf'].touched)" class=" text-danger">
              Falta carga kgf
            </div>
          </div>
          <div class="form-group">
            <label for="resistenciaKgf">Resistencia Kgf</label>
            <input type="number" id="resistenciaKgf" class="form-control" formControlName="resistenciaKgf" [value]="cube.resistenciaKgf">
            <div *ngIf="(cubeForm.controls['resistenciaKgf'].invalid && cubeForm.controls['cargaKgf'].touched)" class=" text-danger">
              Falta resistencia kgf
            </div>
          </div>
          <div class="form-group">
            <label for="resistenciaMpa">Resistencia Mpa</label>
            <input type="number" id="resistenciaMpa" class="form-control" formControlName="resistenciaMpa" [value]="cube.resistenciaMpa">
            <div *ngIf="(cubeForm.controls['resistenciaMpa'].invalid && cubeForm.controls['resistenciaMpa'].touched)" class=" text-danger">
              Falta resistencia mpa
            </div>
          </div>
          <div class="form-group">
            <label for="resistenciaProy">Resistencia Proyecto</label>
            <input type="number" id="resistenciaProy" class="form-control" formControlName="resistenciaProy" [value]="cube.resistenciaProy">
            <div *ngIf="(cubeForm.controls['resistenciaProy'].invalid && cubeForm.controls['resistenciaProy'].touched)" class=" text-danger">
              Falta resistencia proyecto
            </div>
          </div>
          <div class="form-group">
            <label for="resistenciaPorce">Resistencia %</label>
            <input type="number" id="resistenciaPorce" class="form-control" formControlName="resistenciaPorce" [value]="cube.resistenciaPorce">
            <div *ngIf="(cubeForm.controls['resistenciaPorce'].invalid && cubeForm.controls['resistenciaPorce'].touched)" class=" text-danger">
              Falta resistencia
            </div>
          </div>
          <div class="form-group">
            <label for="ubicacion">Ubicacion</label>
            <input type="text" id="ubicacion" class="form-control" formControlName="ubicacion" [value]="cube.ubicacion">
            <div *ngIf="(cubeForm.controls['ubicacion'].invalid && cubeForm.controls['ubicacion'].touched)" class=" text-danger">
              Falta ubicacion
            </div>
          </div>
          <div class="form-group">
            <ngb-alert *ngIf="errMessage" type="warning" (close)="errMessage = null">{{errMessage}}</ngb-alert>
            <div class="text-right footerButtons">
              <button class="btn btn-danger" (click)="c('Cross click')">Cancel</button>
              <button type="submit" [disabled]="!cubeForm.valid" class="btn btn-success">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
</div>
