h2 {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.addButton {
  margin-right: 1rem;
}

.saveButton {
  margin-right: 1rem;
}

.servDate {
  margin-left: 3rem;
}

.dateClient {
  margin-left: 15%;
  margin-bottom: 2rem;
}

.btn-danger {
  margin-right: 1rem;
}

.tomaMuestra {
  margin-right: 1rem;
}

.material-icons {
  cursor: pointer;
}

.modal-title {
  font-weight: bold;
}

.more {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.dateOrders {
  margin-bottom: 1rem;
}

.date {
  margin-left: 1rem;
}

.rupLabel {
  margin-left: 4.5rem;
}

.daysGroup {
  margin-bottom: 1rem;
}

.labelD {
  margin-left: 3rem;
  margin-top: 0.4rem;
}

.dropdownButtonEmployee {
  margin-left: 0.3rem;
}

.finishOrderAdmin {
  margin-left: 3rem;
}

.dateClientTec {
  margin-left: 25%;
  margin-bottom: 2rem;
}

.footerButtons{
  margin-top: 2rem;
}
