<h2>Pendientes de Eliminacion</h2>
<ngb-tabset [justify]="currentJustify">
  <ngb-tab title="Clientes">
    <ng-template ngbTabContent>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>RFC</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Contacto</th>
            <th>Status</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients.items, let i = index">
            <td>{{client.name}}</td>
            <td>{{client.rfc}}</td>
            <td>{{client.email.email}}</td>
            <td>{{client.phoneNumber}}</td>
            <td>{{client.contact}}</td>
            <td>Pendiente de eliminacion</td>
            <td>
              <button type="button" class="btn btn-outline-success" (click)="approveDeleteClient(i)">Aceptar</button>
            </td>
            <!--
            <td>
              <button type="button" class="btn btn-outline-danger" (click)="cancelDeleteClient(i)">Cancelar</button>
            </td>
          -->
          </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Obras">
    <ng-template ngbTabContent>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre de la Obra</th>
            <th>Nombre del cliente</th>
            <th>Domicilio Fiscal</th>
            <th>Tel.Contacto</th>
            <th>Correo de Contacto</th>
            <th>Status</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let structure of structures.items, let c = index">
                <td>{{structure.name}}</td>
                <td>{{structure.businessName}}</td>
                <td>{{structure.taxDomicile}}</td>
                <td>{{structure.phoneNumber}}</td>
                <td>{{structure.responsibleStaff.email}}</td>
                <td>Pendiente de eliminacion</td>
                <td>
                  <button type="button" class="btn btn-outline-success" (click)="approveDeletedStructure(c)">Aprobar</button>
                </td>
                <!--
                <td>
                  <button type="button" class="btn btn-outline-danger" (click)="cancelDeletedStructure(c)">Rechazar</button>
                </td>
              -->
              </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-tab>
