<h2>Pendientes de Aprobacion</h2>
<ngb-tabset [justify]="currentJustify">
  <ngb-tab title="Ordenes de Servicio">
    <ng-template ngbTabContent>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Obra</th>
            <th>Fecha</th>
            <th>Tecnico Asignado</th>
            <th>Status</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let serviceOrder of servOrder.items, let i = index">
            <td>{{serviceOrder.maskID}}</td>
            <td>{{serviceOrder.construction.businessName}}</td>
            <td>{{serviceOrder.construction.name}}</td>
            <td>{{serviceOrder.orderDate.split('T')[0]}}</td>
            <td>{{serviceOrder.assignedTo.name}}</td>
            <td>Pendiente de aprobacion</td>
            <td>
              <button type="button" class="btn btn-success" (click)="approveServiceOrder(i)">Aprobar</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="cancelServiceOrder(i)">Rechazar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
