<div class="structureForm">
  <h2>Agregar Obra</h2>
  <label for="dropdownBasic1">Asignar Empleado</label>
  <div ngbDropdown class="d-inline-block dropdownButton">
    <button type="button" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>{{userName}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button type="button" class="dropdown-item" *ngFor="let user of users.items" (click)="userInfo(user.name, user.websafeKey)">
        {{user.name}}</button>
    </div>
  </div>
  <div class="row">
  </div>
  <label for="dropdownBasic1">Asignar Cliente</label>
  <div ngbDropdown class="d-inline-block dropdownButton">
    <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>{{clientName}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button class="dropdown-item" *ngFor="let client of clients.items" (click)="clientInfo(client.name, client.websafeKey)">
        {{client.name}}</button>
    </div>
  </div>
  <form class="form-horizontal" [formGroup]="structureForm" (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">
    <div class="form-group">
      <label for="name">Nombre de la obra</label>
      <input type="text" id="name" class="form-control" formControlName="name">
      <div *ngIf="structureForm.controls['name'].invalid && structureForm.controls['name'].touched" class="text-danger">
        Falta nombre de la obra
      </div>
    </div>
    <div class="form-group">
      <label for="address">Direccion</label>
      <input type="text" id="address" class="form-control" formControlName="address">
      <div *ngIf="structureForm.controls['address'].invalid && structureForm.controls['address'].touched" class="text-danger">
        Falta direccion
      </div>
    </div>
    <div class="form-group">
      <label for="taxDomicile">Domicilio Fiscal</label>
      <input type="text" id="taxDomicile" class="form-control" formControlName="taxDomicile">
      <div *ngIf="structureForm.controls['taxDomicile'].invalid && structureForm.controls['taxDomicile'].touched" class="text-danger">
        Falta domicilio fiscal
      </div>
    </div>
    <div class="form-group">
      <label for="contact">Contacto</label>
      <input type="text" id="contact" class="form-control" formControlName="contact" placeholder="Contacto de la obra">
      <div *ngIf="structureForm.controls['contact'].invalid && structureForm.controls['contact'].touched" class="text-danger">
        Falta contacto
      </div>
    </div>
    <div class="form-group">
      <label for="phoneNumber">Numero de Telefono</label>
      <input type="number" id="phoneNumber" class="form-control" formControlName="phoneNumber" placeholder="Telefono de contacto">
      <div *ngIf="structureForm.controls['phoneNumber'].invalid && structureForm.controls['phoneNumber'].touched" class="text-danger">
        Falta numero
      </div>
    </div>
    <div class="form-group">
      <label for="responsibleStaff">Correo Electronico</label>
      <input type="email" id="responsibleStaff" class="form-control" formControlName="responsibleStaff" [email]="true" placeholder="Correo de contacto">
      <div *ngIf="structureForm.controls['responsibleStaff'].invalid && structureForm.controls['responsibleStaff'].touched" class="text-danger">
        Formato de correo no valido
      </div>
    </div>
    <div class="form-group">
      <ngb-alert *ngIf="errMessage" type="warning" (close)="errMessage = null">{{errMessage}}</ngb-alert>
      <div class="text-right actionButtons">
        <button class="btn btn-danger" (click)="cancel()">Cancel</button>
        <button type="submit" [disabled]="!structureForm.valid" class="btn btn-success">Guardar</button>
      </div>
    </div>
  </form>
</div>
