<div class="addButton">
  <a (click)="add()">
    <button type="button" class="btn btn-primary">Añadir</button>
  </a>
</div>
<h2>Obras</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Nombre de la Obra</th>
        <th>Nombre del cliente</th>
        <th>Domicilio Fiscal</th>
        <th>Tel.Contacto</th>
        <th>Correo de Contacto</th>
        <th>Encargado</th>
        <th>Editar</th>
        <th>Borrar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let structure of structures.items, let i = index">
        <td>
          <a class="more" (click)="more(seeMore, i)">Ver mas</a>
        </td>
        <td>{{structure.name}}</td>
        <td>{{structure.businessName}}</td>
        <td>{{structure.taxDomicile}}</td>
        <td>{{structure.phoneNumber}}</td>
        <td>{{structure.responsibleStaff.email}}</td>
        <td>{{structure.assignedTo.name}}</td>
        <td>
          <a (click)="editStructure(i)">
            <i class="material-icons">create</i>
          </a>
        </td>
        <td>
          <a (click)="open(deleteModal, i)">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="isNextPage == 20">
  <button type="button" class="btn btn-secondary" (click)="moreStructures()">Más</button>
</div>
<!--Modal to show the info of the structures -->
<ng-template #seeMore let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Obra {{structureName}}</h4>
    <button type="button" class="close" aria-label="Editar" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Nombre de la Obra: {{this.structure.name}} </p>
    <p>Nombre del Cliente: {{this.structure.businessName}}</p>
    <p>Direccion: {{this.structure.address}}</p>
    <p>Nombre del Contacto: {{this.structure.contact}}</p>
    <p>Correo del Responsable: {{this.structure.userEmail}}</p>
    <p>Telefono: {{this.structure.phoneNumber}}</p>
    <p>Domicilio Fiscal: {{this.structure.taxDomicile}}</p>
  </div>
</ng-template>
<!--Modal to delete the structure -->
<ng-template #deleteModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Borrar Obra {{structureName}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>El estado de la obra pasara a inactivo y ya no se mostrara en pantalla.
      <br> Si deseas eliminarlo del sistema active la casilla de
      <b>borrar por completo</b>.</p>
    <p>Nota: Una vez borrado la informacion no podra recuperarse.</p>
    <div class="form-check">
      <input class="form-check-input" [(ngModel)]="delete" type="checkbox" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        Borrar por completo
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="deleteStructure()">Aceptar</button>
  </div>
</ng-template>
