.addButton{
  position: relative;
  margin-left: 90%;
}

.structureContent{
margin-top: 2%;
font-size: .8em;
}

.material-icons{
  cursor: pointer;
}

.more{
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;

}

.modal-title{
  font-weight: bold;
}

h2{
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.form-check{
  margin-left: 1rem;
}

