h2 {
  margin-bottom: 1rem;
  font-weight:bold;
  font-size: 1.5em;
  text-align: center;
}

.employeeForm{
  width: 50%;
  margin-left: 23%;
  margin-top: 2rem;
}

.btn-outline-secondary{
  margin-right: 1rem;
}

.saveButton{
  margin-top: 2rem;
}

.roleButton{
  margin-bottom: .9rem;
}

.btn-group{
  margin-bottom: .5rem;
}

.actionButtons{
  margin-top: 1rem;
}

.dropdownButton{
  margin-left: .5rem;
  margin-bottom: 1rem;
}

