/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' );

body, html{
  font-family: 'Open Sans', sans-serif;

}

.bg-img {
    background-image: url('/assets/images/backgroundImage.svg');
    background-position: center fixed;
    background-size: cover;
}
