<div class="addButton">
  <a (click)="add()">
    <button type="button" class="btn btn-primary">Crear</button>
  </a>
</div>
<h2>Ordenes de Servicio</h2>
<ngb-tabset [justify]="currentJustify">
  <ngb-tab title="En proceso">
    <ng-template ngbTabContent>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Cliente</th>
            <th>Obra</th>
            <th>Fecha</th>
            <th>Tecnico Asignado</th>
            <th>Accion</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let serviceOrder of inProcessServiceOrder.items, let i = index">
            <td>
              <a class="more" (click)="more(serviceOrder)">Ver mas</a>
            </td>
            <td>{{serviceOrder.maskID}}</td>
            <td>{{serviceOrder.construction.businessName}}</td>
            <td>{{serviceOrder.construction.name}}</td>
            <td>{{serviceOrder.orderDate.split('T')[0]}}</td>
            <td>{{serviceOrder.assignedTo.name}}</td>
            <td>{{serviceOrder.orderAction}}</td>
            <td>
              <a (click)="open(deleteModal, serviceOrder)">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="role == 'Admin' || role == 'Director'">
        <div *ngIf="isNextPageInProcess == 20">
          <button type="button" class="btn btn-secondary" (click)="moreServiceOrderAdmin('inProcess')">Más</button>
        </div>
      </div>
      <div *ngIf="role == 'Supervisor'">
        <div *ngIf="isNextPageInProcess == 20">
          <button type="button" class="btn btn-secondary" (click)="moreServiceOrderSupervisor('inProcess')">Más</button>
        </div>
      </div>
      <div *ngIf="role == 'Tecnico'">
        <div *ngIf="isNextPageInProcess == 20">
          <button type="button" class="btn btn-secondary" (click)="moreServiceOrderTecnician('inProcess')">Más</button>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Activas">
    <ng-template ngbTabContent>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Cliente</th>
            <th>Obra</th>
            <th>Fecha</th>
            <th>Tecnico Asignado</th>
            <th>Accion</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let serviceOrder of activeServiceOrder.items, let c = index">
            <td>
              <a class="more" (click)="more(activeServiceOrder.items[c])">Ver mas</a>
            </td>
            <td>{{serviceOrder.maskID}}</td>
            <td>{{serviceOrder.construction.businessName}}</td>
            <td>{{serviceOrder.construction.name}}</td>
            <td>{{serviceOrder.orderDate.split('T')[0]}}</td>
            <td>{{serviceOrder.assignedTo.name}}</td>
            <td>{{serviceOrder.orderAction}}</td>
            <td>
              <a (click)="open(deleteModal, serviceOrder )">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="role == 'Admin' || role == 'Director'">
        <div *ngIf="isNextPageActive == 20">
          <button type="button" class="btn btn-secondary" (click)="moreServiceOrderAdmin('active')">Más</button>
        </div>
      </div>
      <div *ngIf="role == 'Supervisor'">
        <div *ngIf="isNextPageActive == 20">
          <button type="button" class="btn btn-secondary" (click)="moreServiceOrderSupervisor('active')">Más</button>
        </div>
      </div>
      <div *ngIf="role == 'Tecnico'">
        <div  *ngIf="isNextPageActive == 20">
          <button type="button" class="btn btn-secondary" (click)="moreServiceOrderTecnician('active')">Más</button>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Retrasadas">
    <ng-template ngbTabContent>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Cliente</th>
            <th>Obra</th>
            <th>Fecha</th>
            <th>Tecnico Asignado</th>
            <th>Accion</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let serviceOrder of delayedServiceOrder.items, let d = index">
            <td>
              <a class="more" (click)="more(delayedServiceOrder.items[d])">Ver mas</a>
            </td>
            <td>{{serviceOrder.maskID}}</td>
            <td>{{serviceOrder.construction.businessName}}</td>
            <td>{{serviceOrder.construction.name}}</td>
            <td>{{serviceOrder.orderDate.split('T')[0]}}</td>
            <td>{{serviceOrder.assignedTo.name}}</td>
            <td>{{serviceOrder.orderAction}}</td>
            <td>
              <a (click)="open(deleteModal, serviceOrder)">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="role == 'Admin' || role == 'Director'">
        <div *ngIf="isNextPageDelayed == 20">
          <button type="button" class="btn btn-secondary" (click)="moreServiceOrderAdmin('delayed')">Más</button>
        </div>
      </div>
      <div *ngIf="role == 'Supervisor'">
        <div *ngIf="isNextPageDelayed == 20">
          <button type="button" class="btn btn-secondary" (click)="moreServiceOrderSupervisor('delayed')">Más</button>
        </div>
      </div>
      <div *ngIf="role == 'Tecnico'">
        <div *ngIf="isNextPageDelayed == 20">
          <button type="button" class="btn btn-secondary" (click)="moreServiceOrderTecnician('delayed')">Más</button>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Terminadas">
    <ng-template ngbTabContent>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Obra</th>
            <th>Fecha</th>
            <th>Tecnico Asignado</th>
            <th>Borrar</th>
            <th>Reporte</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let serviceOrder of completedServiceOrder.items, let c = index">
            <td>{{serviceOrder.maskID}}</td>
            <td>{{serviceOrder.construction.businessName}}</td>
            <td>{{serviceOrder.construction.name}}</td>
            <td>{{serviceOrder.orderDate.split('T')[0]}}</td>
            <td>{{serviceOrder.assignedTo.name}}</td>
            <td>
              <a (click)="open(deleteModal, serviceOrder)">
                <i class="material-icons">delete</i>
              </a>
            </td>
            <td>
              <button type="button" class="btn btn-outline-info" (click)="previewServiceOrder(c)">Vista Previa</button>
            </td>
            <td>
              <button type="button" class="btn btn-outline-info" (click)="downloadServiceOrder(c)">Descargar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="role == 'Admin' || role == 'Director'">
        <div *ngIf="isNextPageFinished == 20">
          <button type="button" class="btn btn-secondary" (click)="moreServiceOrderAdmin('finished')">Más</button>
        </div>
      </div>
      <div *ngIf="role == 'Supervisor'">
        <div *ngIf="isNextPageFinished == 20">
          <button type="button" class="btn btn-secondary" (click)="moreServiceOrderSupervisor('finished')">Más</button>
        </div>
      </div>
      <div *ngIf="role == 'Tecnico'">
        <div *ngIf="isNextPageFinished == 20">
          <button type="button" class="btn btn-secondary" (click)="moreServiceOrderTecnician('finished')">Más</button>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
<ng-template #deleteModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Borrar Orden de Servicio</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>El estado de la orden de servicio pasara a inactivo y ya no se mostrara en pantalla.
      <br> Si deseas eliminarla del sistema active la casilla de
      <b>borrar por completo</b>.</p>
    <p>Nota: Una vez borrada la informacion no podra recuperarse.</p>
    <div class="form-check">
      <input class="form-check-input" [(ngModel)]="delete" type="checkbox" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        Borrar por completo
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="c('Close click')">Cancelar</button>
    <button type="button" class="btn btn-outline-primary" (click)="deleteServiceOrder()">Aceptar</button>
  </div>
</ng-template>
