.addButton{
  position: relative;
  margin-left: 90%;
}

.more{
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;

}


h2{
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.form-check{
  margin-left: 1rem;
}

